header{
    background-color: rgba(96, 96, 96,0.6);
    height: 125px;
}
li{
    float:right;
    color:white;
    margin: 5%;
    font-size: 2em;
}
form{
    background-color: rgba(96, 96, 96,0.6);
    position: relative;
    top:250px;
    width:40%;
    height: 500px;
}
input{
    margin: 15px;
}
textarea{
    margin: 15px;
}
footer{
    color:white;
    font-size: large;
    background-color:rgba(96, 96, 96,0.6);
    position: relative;
    top: 500px;
    height: 70px;
    text-align: center;
}